<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='temperature.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='schedule.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='temperature.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='structure.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font-awesome.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='schedule.css') }}"/>
</head>
<body>
  <div class="page-controls">
    <div class="r">
      <div class="c12">
	<div class="header-btn thermostat-page-btn">
	  <div>Thermostat</div>
	</div>
      </div>
      <div class="c12">
	<div class="header-btn schedule-page-btn">
	  <div>Schedule</div>
	</div>
      </div>
    </div>
  </div>
  <div class="page-control-placeholder">
    
  </div>
  <div class="temperature-control">
    <div class="r">
      <div class="temperature-display">
	<div class="c8">
	  <div class="temperature-display-wrapper">
	    <div class="temporary-notice">Temporary</div>
	    <div class="running-notice">Running</div>
	    <div class="target">
	      <span class="temperature">70</span><span class="degree">&deg;</span>
	    </div>
	    <div class="current">
	      <span class="temperature">70</span><span class="degree">&deg;</span>
	    </div>
	    <div class="control-center">
	      <div class="r">
		<div class="c12">
		  <div class="heat-control"><div class="control">Heat<span class="on">ON</span><span class="off">OFF</span></div></div>
		</div>
	      </div>
	      <div class="r">
		<div class="c12">
		  <div class="fan-control"><div class="control">Fan<span class="on">ON</span><span class="off">OFF</span></div></div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="temperature-action-display">
	<div class="c4">
	  <div class="btn temp-change temp-up"><i class="fa fa-angle-up"></i></div>
	  <div class="btn temp-change temp-down"><i class="fa fa-angle-down"></i></div>
	  <div class="btn run-schedule">Run Schedule</div>
	</div>
      </div>
    </div>
  </div>
  <div save-row class="save-row">
    <div class="save-btn">Save</div>
  </div>
  <div class="schedule-control hidden">
    <div list-container class="list-container">
    </div>
  </div>
</div>

<div id="schedule-day-template" class="hidden">
  <div class='day-row'>
    <div class='r'>
      <div class='c12'>
	<div class='day'>
	</div>
      </div>
    </div>
  </div>
</div>

<div id="schedule-row-template" class="hidden">
  <div class='row-id' id='1'>
    <div class='r'>
      <div class='c7'>
	<span class='label'>Time</span>
	<div class='r'>
	  <div class='c10'>
	    <div class='start-time-container'>
	      <span class='start-hour'></span>
	      :
	      <span class='start-minute'></span>
	    </div>
	  </div>
	  <div class='c2'>
	    <div class="btn time-change time-up"><i class="fa fa-angle-up"></i></div>
	    <div class="btn time-change time-down"><i class="fa fa-angle-down"></i></div>
	  </div>
	</div>
      </div>
      <div class='c5'>
	<span class='label'>Temperature</span>
	<div class='r'>
	  <div class='c9'>
	    <div class='temperature'></div>
	  </div>
	  <div class='c3'>
	    <div class="btn temp-change sched-temp-up"><i class="fa fa-angle-up"></i></div>
	    <div class="btn temp-change sched-temp-down"><i class="fa fa-angle-down"></i></div>
	  </div>
	</div>
      </div>
      
    </div>
    <div class='actions'>
      <div class='r'>
	<div class='c5'>
	  <div class='btn schedule-copy-day'><span>Copy to next day</span></div>
	</div>
	<div class='c5'>
	  <div class='btn schedule-copy-week'><span>Copy to all</span></div>
	</div>
	<div class='c2'>
	  <div class='btn schedule-delete'><i class='fa fa-close'></i></div>
	</div>
      </div>
    </div>
  </div>  
</div>
</body>
</html>
