.schedule-container {
    //	width: 1024px;
}

.schedule-control .save-row {
    position: fixed;
    background: white;
    width: 100%;
}

.schedule-control .save-row span {
    float: right;
    padding: 20px;
}

.schedule-control .list-container {
    padding-top: 56px;
}

.schedule-control .day {
    font-family: sans-serif;
    font-size: 31px;
    background: gray;
    padding: 3px 8px;
}

.schedule-control .row-id {
    background: #dddddd;
    border-bottom: 1px solid #808080;
}

.schedule-control .start-time-container, .schedule-control .temperature {
    width: 100%;
    font-size: 37px;
    font-family: sans-serif;
    text-align: center;
    padding: 18px;
}

.schedule-control .row-id .actions {
    display: flex;
}

.schedule-control .row-id .actions .btn {
    margin: 4px 0px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 5px 0;
}

.schedule-control .row-id .actions .copy-actions {
    flex: 1;
}


.schedule-control .row-id .actions .copy-actions .btn {
    background: #00A9B1;
}

.schedule-control .row-id .actions .delete-actions .btn {
    background: red;
}

.schedule-control .row-id .temp-change, .schedule-control .row-id .time-change {
	color: gray;
}