.schedule-container {
	width: 1024px;
}

.schedule-control .day {
    font-family: sans-serif;
    font-size: 31px;
    background: gray;
    padding: 3px 8px;
}

.schedule-control .start-time-container, .schedule-control .temperature {
border-bottom: 1px solid gray;
    width: 100%;
    font-size: 37px;
    font-family: sans-serif;
    text-align: center;
    padding: 18px;
}

.schedule-control .schedule-container .schedule-confirm {
	background: green;
    text-align: center;
    font-size: 3.1em;
    width: 51px;
    margin: auto;
	padding: 14px;
}

.schedule-control .schedule-container .schedule-delete {
	background: red;
    text-align: center;
    font-size: 3.1em;
    width: 51px;
    margin: auto;
	padding: 14px;
}

.schedule-control .schedule-container .temp-change, .schedule-control .schedule-container .time-change {
	color: gray;
}